[package]
name = "bevy-inspector-egui"
version = "0.32.0"
edition = "2024"
repository = "https://github.com/jakobhellermann/bevy-inspector-egui/"
readme = "README.md"
license = "MIT OR Apache-2.0"
description = "Inspector plugin for the bevy game engine"
documentation = "https://docs.rs/bevy-inspector-egui"
keywords = ["bevy", "inspector", "egui", "editor", "reflect"]
categories = [
    "game-development",
    "gui",
    "visualization",
    "development-tools::procedural-macro-helpers",
]

[features]
default = [
    "documentation",
    "bevy_pbr",
    "bevy_image",
    "bevy_render",
    "bevy_core_pipeline",
    "egui_clipboard",
]
documentation = ["bevy_reflect/documentation"]
bevy_render = ["dep:bevy_render", "bevy_egui/render"]
bevy_core_pipeline = ["dep:bevy_core_pipeline"]
egui_clipboard = ["bevy_egui/manage_clipboard"]
egui_open_url = ["bevy_egui/open_url"]
highlight_changes = []

[package.metadata.docs.rs]
features = ["winit/x11"]

[dependencies]
winit = { version = "0.30.0", default-features = false }
bevy-inspector-egui-derive = { version = "0.32.0", path = "../bevy-inspector-egui-derive" }
egui = "0.32"
# bevy_egui = { version = "0.35.0", default-features = false }
bytemuck = "1.16.0"
image = { version = "0.25", default-features = false }
smallvec = "1.10"

fuzzy-matcher = "0.3.7"
disqualified = "1.0.0"
uuid = "1.11.0"

[dev-dependencies]
transform-gizmo-egui = "0.6"
egui_dock = "0.16"
# bevy_mod_picking = { git = "https://github.com/aevyrie/bevy_mod_picking", rev = "554649a951689dce66d0d759839b326874e8826f", default-features = false, features = ["backend_raycast", "backend_egui", "backend_sprite"] }
# bevy_framepace = "0.11"


[[example]]
name = "inspector_options"
path = "examples/basic/inspector_options.rs"

[[example]]
name = "custom_type_ui"
path = "examples/basic/custom_type_ui.rs"

[[example]]
name = "resource_inspector_manual"
path = "examples/basic/resource_inspector_manual.rs"

[[example]]
name = "resource_inspector"
path = "examples/quick/resource_inspector.rs"

[[example]]
name = "filter_query_inspector"
path = "examples/quick/filter_query_inspector.rs"

[[example]]
name = "asset_inspector"
path = "examples/quick/asset_inspector.rs"

[[example]]
name = "world_inspector"
path = "examples/quick/world_inspector.rs"

[[example]]
name = "world_inspector_assets"
path = "examples/quick/world_inspector_assets.rs"

[[example]]
name = "state_inspector"
path = "examples/quick/state_inspector.rs"

[[example]]
name = "egui_dock"
path = "examples/integrations/egui_dock.rs"

[[example]]
name = "side_panel"
path = "examples/integrations/side_panel.rs"

[dependencies.bevy_app]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_asset]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_color]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_platform]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_ecs]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_log]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_math]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_state]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_time]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_utils]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_window]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"

[dependencies.bevy_render]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
optional = true

[dependencies.bevy_core_pipeline]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
optional = true

[dependencies.bevy_pbr]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
optional = true

[dependencies.bevy_image]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
optional = true

[dependencies.bevy_reflect]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
optional = true

[dependencies.bevy_egui]
git = "https://github.com/Greatness7/bevy_egui.git"
rev = "1a686b0d6e8229d6d8fa64f470a88ec1b450fd84"

[dev-dependencies.bevy]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
default-features = false
features = [
    "animation",
    "bevy_core_pipeline",
    "bevy_pbr",
    "bevy_picking",
    "bevy_sprite",
    "bevy_state",
    "bevy_window",
    "bevy_winit",
    "ktx2",
    "png",
    "std",
    "tonemapping_luts",
    "x11",
    "zstd_c",
]

[dev-dependencies.bevy_math]
git = "https://github.com/bevyengine/bevy"
rev = "01eff3ea937535bc7384ff361029129475d98263"
features = ["mint"]
